{% extends 'base.html' %}

{% block title %}
{{user.username}} Details
{% endblock %}

{% block content %}
<div>
    <div>
        <h1>{{user.username}} Details</h1>
        <ul>
            <li><b>First Name:</b> {{user.first_name}}</li>
            <li><b>Last Name:</b> {{user.last_name}}</li>
            <li><b>Username:</b> {{user.username}}</li>
            <li><b>Email:</b> {{user.email}}</li>
        </ul>
        <div class="mb-5">
            <form>
                <button class="btn btn-sm btn-danger" formmethod="POST"
                    formaction="/users/{{user.username}}/delete">Delete
                    User</button>
            </form>
        </div>
    </div>
    <div>
        <h2>Feedback</h2>
        <p>
            <a href="/users/{{user.username}}/feedback/add" class="btn btn-success">Add Feedback</a>
        </p>
        <ul>
            {% for feedback in user.feedback %}
            <li>
                {{ feedback.title }}
                <small>{{ feedback.content }}</small>
                <form>
                    {{form.hidden_tag()}}
                    <button class="btn btn-sm btn-success" formmethod="GET"
                        formaction="/feedback/{{feedback.id}}/update">
                        <i class="fa fa-pen-to-square"></i>
                    </button>
                    <button class="btn btn-sm btn-danger" formmethod="POST"
                        formaction="/feedback/{{feedback.id}}/delete">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}